h1{
  color:black;
  font-size: 55px;
}
body{
  background-color: black;

}
body {
  background-image: url("C:/Users/Damiano Pellegrino/Documents/Portfolio/imagenes/fondo.jpg");
  background-repeat:repeat-x;

a{
  color: black;
}
